.btn1{
  background-color: red;
  margin-left: 500px;
}

.btn2{
  background-color: rgb(6, 175, 82);
  margin-left: 80px;
}

.btn3{
  background-color: rgb(74, 58, 141);
  margin-left: 80px;
}

.para1{

  margin-left: 100px;
  margin-top: 200px;
}

.para2{
  margin-left: 100px;
}
