<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
							<h1>FLIGHT TEST</h1>
							<p>STARSHIP SN10 HIGH-<br>ALTITUDE FLIGHT TEST</p>
						</header>
						<a href="#main" class="button big alt scrolly">REPLAY</a>
					</div>

				</section>