<div class="bg">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
     <a class="navbar-brand" href="#">&lt;/&gt; DevConnector</a>
      <div class="navbar-nav" navbar-right>
        <a class="nav-link" routerLink="/"></a>
        <a class="nav-link active">Developers<span class="sr-only">(current)</span></a>
        <a class="nav-link" routerLink="register">Register</a>
        <a class="nav-link" href="#">Login</a>
      </div>
    </div>
</nav>
</div>
